<template>
  <div id="app">
<<<<<<< HEAD:src/App.vue
<<<<<<< HEAD:src/App.vue
<<<<<<< HEAD
      this is master
=======
      我是赵宇森
>>>>>>> zhaoyusen
=======
      我是赵宇森568979
>>>>>>> zhaoyusen:client/src/App.vue
=======
      dapan没点数吃的啥
>>>>>>> pandeping:client/src/App.vue
    <img src="./assets/logo.png">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
